/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

/* Shared style */
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.text{
   color:  #FD6E0A;
}
.dark-2{
    color: #474747 ;
}
.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border:none ;
    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
   background-color: #FFF8F3;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size:20px ;
}
/* Banner styles */
.greetings{
    font-size: 45px;
    f
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 70px;
}
.banner-image{
    width: 590px;
    height: 676px ;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 500px;
}
/* header style */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
/* main styles */
main{
max-width: 1140px;
margin: 0 auto;

}
main-section{
     margin-top: 130px;
     margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
   
    

}
.item-description{
    font-weight: 600px;
}
.about-item{
    display: flex;
    justify-content: space-around;
}
/* resume styles */
.resume-container{
    display: flex;
    gap: 24px;
    
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-subtitle{
    color: #757575;

}
.resume hr{
    margin: 30px 5px;
}
.resume-download{
    margin-top: 50px;
}